body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./image/2.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    padding: 20px;

}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.about-sign {
    height: 80px;
    width: 100%;
}

.banner .about-sign a {
    float: right;
    padding: 10px 6px;
    color: rgb(242, 245, 147);
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
    text-transform: uppercase;
    text-align: center;
}

a.fb {
    margin-left: 30px;
    display: inline-block;
}

.btn-1 {
    border-radius: 25px;
    border: thin solid rgb(242, 245, 147);
    width: 80px;
    color: rgb(242, 245, 147);
    cursor: pointer;
    background: transparent;
    transition: 1s;
}

.btn-1:hover {
    border: thin solid #009688;
    color: rgb(242, 245, 147);
    transition: 1s;
    background-color: #009688;
}

.logo {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

svg {
    margin-top: -44px;
}

.can-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 170px;
    margin-top: -30px;
    width: 100%;
    margin-left: 2px;



}

/* .can-container>div {

    width: 400px;
    margin: 16px 20px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    text-align: center;
    margin-left: -138px;
} */

.can-container .can2-container {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.can-container .can2-container .word {
    font-size: 15px;
    margin-top: 10px;
}

.note {
    margin-top: 50px;
}

.btn-end {
    margin-top: 20px;
}

.btn-end a {
    padding: 10px 6px;
    color: rgb(242, 245, 147);
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
    text-transform: uppercase;
    text-align: center;
}